<div class="anime-list">
    <app-anime-detail *ngIf="count>6" [anime]="animeList[6]"></app-anime-detail>
    <app-anime-detail *ngIf="count>5" [anime]="animeList[5]"></app-anime-detail>
    <app-anime-detail *ngIf="count>4" [anime]="animeList[4]"></app-anime-detail>
    <app-anime-detail *ngIf="count>3" [anime]="animeList[3]"></app-anime-detail>
    <app-anime-detail *ngIf="count>2" [anime]="animeList[2]"></app-anime-detail>
    <app-anime-detail *ngIf="count>1" [anime]="animeList[1]"></app-anime-detail>
    <app-anime-detail *ngIf="count>0" [anime]="animeList[0]"></app-anime-detail>
</div>
